<div class="container">
  <div class="card-deck">

    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4" *ngFor="let itemAlbum of albums">
        <div class="card">
          <div class="">
            <img src="{{itemAlbum.images[0].url}}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{itemAlbum.name}}</h5>
              <p class="card-text" *ngFor="let artist of itemAlbum.artists">{{artist.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
